<!DOCTYPE html>
<html>
<head>
  <title>Blocmetric</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% elsif flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
